body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

#map {
    flex: 1; /* Hace que el mapa ocupe el espacio restante */
    width: 100%;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para el botón */
    border-top: 1px solid #ccc; /* Línea superior para separación */
}

#controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
